$primary-color : #00263E;
$ligh-blue: #0E81B4;
$dark-blue: #4D6778;
$blue: #0D74A2;
$white: #fff;

//Create form variables
$form-input-bg: #F7F9F9;
$form-input-border: #B7D9E9;
$form-disabled: #E6E9EC;

$success: #2EC3B1;
$warning: #FFD562;
$danger: #FF5421;
$completed: #999999;


$font-header-color: #4D6778;