.tbl-header:hover .tbl-hover {
    background: #cbdbeb6e !important;
}

.tbl-hover:hover {
    background: #cbdbeb6e !important;
}

.tbl-hover {
    // background-color: violet;
    padding: 20px 0;
}

.pointer:hover {
    cursor: pointer;
}