@mixin pp-card{
    
  background: $white;
  box-shadow: 0px 0.063rem 0.438rem rgba(0, 0, 0, 0.14);
  border-radius: 0.938rem;
  padding: 2rem 3rem 2rem 3rem;
  padding: 40px 30px 0 30px;
  margin-block-start: 0.65rem auto 0 auto;

}