<nb-card class="pp-modal-container">
    <div class="pp-modal-header">
      <span>Delete Campaign</span>
    </div>
  
    <div class="pp-modal-body">
      <div class="pp-modal-content">
        Are you sure you want to delete this campaign? This action cannot be undone.
      </div>
  
      <div class="pp-modal-buttons">
        <button class="btn" (click)="cancel()">Cancel</button>
        <button class="btn confirm-btn" (click)="delete()">Delete</button>
      </div>
    </div>
</nb-card>
  