/* Temp Header CSS */




/* .nb-theme-default nb-layout-header  {
    color: #FFF;
    
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
    height: 4.75rem;
    padding: 1.25rem;
} */




 app-header{
  width: 100%;
 }